{% extends "base-layout.html.twig" %}

{% block title %}

{% endblock %}

{% block head %}

    {{ parent() }}

{% endblock %}
{% block content %}

    <div class="section">
        <div class="section-summary">
            <a name="Introduction"></a>
            <h1>test Section</h1>
            <p>Made by Mirko</p>
        </div>
        <div class="section-content">
            <div class="section-row">
                <div class="section-cell">
                    <a name="introduction-overview"></a>
                    <label>hello!</label>


                </div>
            </div>
        </div>
    </div>

{% endblock %}